body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img {
    width: 80px;
    float: left;
}
aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
asside h3 {
    margin-top: 50px;
    fint-size: 28px
}
aside ul {
    list-style: none;
}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul li a:hover  {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05)
}
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    weight: 75%;
}
main .features h1 {
    font-size: 50px;
}
main .features p {
    max-weight: 400px;
    margin: 20px auto
}
.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}
form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
