{% extends 'main/layout.html' %}

# content
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deleniti doloribus officia officiis quam quasi rerum tempore ut voluptates voluptatibus.</p>
        <button class="btn btn-warning">{% filter upper %}На страницу про нас{% endfilter %}</button>
        {% for el in values %}
            {% if el == 'Hello' %}
                {% filter lower %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
            <p>{{ el|upper }}</p>
        {% endfor %}

        {{ obj.age }}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
    {% include 'main/test.html' %}
{% endblock %}