{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <aside>
        <h3>Навигация</h3>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a></li>
            <li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i> О нас</a></li>
            <li><a href="{% url 'news_home' %}"><i class="fas fa-paper-plane"></i> Новости</a></li>
            <li><a href="{% url 'news_create' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить новость</button></a></li>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>