{% extends 'main/layout.html' %}

# content
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button type="submit" class="btn btn-success">Добавить новость</button>
        </form>
    </div>
{% endblock %}