{% extends 'main/layout.html' %}

# content
{% block title %}{{ news.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ news.title }}</h1>
        <p>{{ news.date }}</p>
        <p>{{ news.anons }}</p>
        <a href="{% url 'news-delete' news.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'news_update' news.id %}" class="btn btn-info">Редактировать</a>
    </div>
{% endblock %}