{% extends 'main/layout.html' %}

# content
{% block title %}Удаление статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Удаление статьи</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Удалить новость</button>
        </form>
    </div>
{% endblock %}