{% extends 'main/layout.html' %}

# content
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Читать детально</a>
                </div>
            {% endfor %}
        {% else %}
            <div>Нету записей</div>
        {% endif %}

        {# Ето коментарий #}
    </div>
    {% include 'main/test.html' %}
{% endblock %}